*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,p{
  font-family:'Roboto';
  font-weight:500;

}

h1,h2,{
  color:white;
}

html,body {
    
    height:100vh;
    width:100%;
    background-color: #white;
}

hr{
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.telo{
  justify-content: center;
  align-items: flex-start;
  display:flex;
  height:100vh;
  width:100%;
}

.content{
  margin-top:93px;
  padding:15px;
  box-sizing: border-box;
  max-width:1202px;
  //height:59%;
  //background-color:red;
}

.fotogaleria{
  //width: auto;
  display:flex;
  flex-wrap:wrap;
  box-sizing:border-box;
  justify-content:flex-start;
  position:relative;
  //aling-items:stretch;
}

.foto{
  height:215px;
  //border-style: dotted;
  margin: 15px;
  flex: 0 0 263px;
  border-radius:20px;
  position:relative;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.foto > img{
  width:100%;
  object-fit: cover;
  border-radius:20px;
  height: 200px;
}

.text{
  width:100%;
  position:absolute;
  bottom:0;
  background-color:white;
  display:flex;
  border-bottom-right-radius: 20px;
  height:30%;
  border-bottom-left-radius:20px;
}

.text > span{
  margin:auto;
  jusitfy-content: center;
}

.pozadie > img{
  //z-index: -1;
  object-fit: cover;
  width:100%;
  height:338px;
}

.pozadie{
  filter: blur(10px);
}


.pozadieDiv{
  z-index: -1;
  left: 0px;
  top: 0px;
  position: absolute;
  width:100%;
  height:338px;
}

/*#pozadieID2 {
  z-index: 1;

}
*/

//@media (min-width:1215px)
{
  .foto{  
    flex: 0 0 263px;
    margin:15px;
    height:215px;
    box-sizing:border-box;

    border-radius:20px;
    position:relative;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
  .fotogaleria:nth-child(4n+1)
  {
    margin-left:0;
  }

  .fotogaleria:nth-child(4n)
  {
    margin-right:0;
  }
}

//@media (min-width:800px) and (max-width:1214px)
{


  .content{
    justify-content:center;
  }
  .foto{  
    flex: 0 0 263px;
    margin:15px;
    height:215px;
    box-sizing:border-box;

    border-radius:20px;
    position:relative;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}
  .fotogaleria:nth-child(4n+1)
  {
    margin-left:0;
  }

  .fotogaleria:nth-child(4n)
  {
    margin-right:0;
  }
}

.foto {
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.foto:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}