@charset "utf-8";

// Set your brand colors
$purple: rgb(159, 104, 235);
$light-grey: #f5f6f6;
$green: #00b979;
$light-green: #bafacd;
$red: #dc3900;
$light-red: #ffe5e3;
$pink: #FA7C91;
$brown: #757763;

$dark: rgb(22, 28, 41);
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $purple;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: white;
$control-border-width: 2px;
$input-background-color: $light-grey;
$input-border-color: transparent;
$input-shadow: none;