@import "../../../theme.scss";

.root {
  display: flex;
  width: 100%;
  position: relative; // so that p:abs doesnt override default
  
  &:hover {
    .x-icon-button {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .x-icon-button {
    position: absolute;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: $dark;
    background-image: url('../../../assets/delete_icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    right: -17px;
    top: -17px;
    cursor: pointer;
    
    transform: scale(0);
    opacity: 0;
    
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    
    // this has to be after the root hover,
    // because otherwise the root hover would override this one
    // because we are hovering on 2 elements at the same time
    &:hover {
      transform: scale(1.2);
    }
  }
  
}

.budget-item {
  display: flex;
  width: 100%;
  background-color: $light-grey;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  
  .description {
    display: flex;
    flex-grow: 1;
    font-size: 18px;
    margin-left: 5px;
    
    align-items: center;
  }
  
  .amount {
    padding: 5px;
    border-radius: 3px;
  }
}

.expense {
  p {
    color: $red;
  }
  
  .amount {
    background-color: $light-red;
  }
}

.income {
  p {
    color: $green;
  }
  
  .amount {
    background-color: $light-green;
  }
}