body
    background: #111112
    color: white

nav
    display: flex
    justify-content: space-around
    align-items: center
    min-height: 5vh
    background: #1a1a1d

.nav-links
    width: 20%
    display: flex
    justify-content: space-evenly
    align-items: center
    list-style: none
    

nav a
    text-decoration: none
    font-weight: bold

a
    color: white
a:active
    color: cyan