<form>
  <div class="field is-horizontal">
    <div class="field-body">
      
      <div class="field is-narrow">
        <p class="control">
          <input type="number" class="input" placeholder="Množstvo" style="width: 150px;">
        </p>
      </div>
      
      <div class="field">
        <p class="control">
          <input type="text" class="input" placeholder="Popis">
        </p>
      </div>
      
      <div class="field">
        <button class="button is-primary">Add</button>
      </div>
    </div>
  </div>
</form>