@charset 'utf-8';
@import "theme.scss";
@import "~bootstrap/scss/bootstrap";

* { box-sizing: border-box;}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #eee;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.card {
  border: none;
  border-radius: 0.5  0rem;
  box-shadow: 0 4px 8px 0 rgba(black, 0.2);
}

.app-content {
  @extend .mt-5;
}