$dark: #1f1b1b;
$body-bg: #0a0a0c;
$body-color: white;
@import "bootstrap";

:export {
  primary: $primary;
  secondary: $secondary;
  dark: $dark;
  warning: $warning;
}

// rip scroll refresh
body {
  overscroll-behavior-y: contain;
}

.meme-display {
  margin-bottom: 30px;
}

@include media-breakpoint-up(md) {
  .meme-card {
    max-width: 60vh;
    margin: auto;
  }
}